<!DOCTYPE html>
<html>
  <head>
     <h1> Registo do Utilizador</h1>
  </head>  
<body>
<form>	
     <table>		
           <tr>			
               <td>				
                   Endereço de Email:			
               </td>			
                <td>				
                   <input type=”text” email=””>			
                </td>		
           </tr>
            <tr>
                 <td>				
                   Password:			
                 </td>			
                 <td>				
                  <input type=”Password” name=””>			
                 </td>		
           </tr>	
     </table>
</form> 
</body>
</html>